/* imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* custom properties */
:root{
  --co-site-green:#00a37e;
}

.no-list-style {
  list-style: none;

}
a{
  text-decoration: none;
  color: black;
}


/* main props */
*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  font-family: 'Lato','open sans';
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.nav-bar{
  padding: 1em 4em ;
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100000000;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  
  
}
.logo{

}
.right-nav-elements{
  display: flex;
  gap: 5em;
  align-items: center;
  
}
.list-items{
  display: flex;
  gap: 3em;
}
.nav-list-buttons{
  display: flex;
  gap: 3em;
}

.nav-button{
  text-align: center;
  padding: 0.8em 0.6em;
  width: 100px;
  border-radius: 10px;
  background-color: gray;
  cursor: pointer;
}
.log-in{
  border: solid 3px var(--co-site-green);
  background-color: white;
}

