/* imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* custom properties */
:root{
  --co-site-green:#00a37e;
}

.no-list-style {
  list-style: none;

}
a{
  text-decoration: none;
  color: black;
}

/* global settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100%;
  font-family: 'Lato','open sans';
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

img{
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

/* content settings */

.navbar{
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
}
.large-container{
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}

.logo{
  top: 12px;
  position: relative;
  float: left;
  text-decoration: none;
}
.navigation{
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  float: right;
}
.left-nav-elements{
  display: flex;
  margin-right: 5%;
  justify-content: space-between;
}




.nav-list-buttons{
  display: flex;
  gap: 3em;
}
.nav-button{
  text-align: center;
  padding: 0.5em 0.5em;
  width: 100px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
}
.log-in{
  border: solid 1px var(--co-site-green);
  background-color: white;
  color: #00a37e;
  font-weight: bold;
}
.start{
  background-color: var(--co-site-green);
  color: white;
}

